:root {
    --primary-color: rgba(255, 254, 254, 0.146);
    --secondary-color: hsl(233, 67%, 56%);
    --primary-font: 'Bricolage Grotesque', sans-serif;
    --secondary-font: 'DM Sans', sans-serif;
}

/* .main-content.loading{
    display:none;
    color:antiquewhite;
    text-align: center;
} */

/* nav bar brand*/
.navbar-brand {
    width: 100px;
}

@media (min-width: 768px) {
    .navbar-brand {
        width: 200px;
    }
}

/* metric conversion selector */
.units-icon {
    width: 15px;
    margin-right: 5px;
}

.value-change {
    background-color: var(--primary-color);
    border-radius: 5px;
    border-style: none;
    color: rgb(255, 255, 255);
    padding: 3px;
    font-size: 12px;
    font-family: var(--secondary-font);
    font-weight: 500;
    width: 50%;
    height: auto;
}

.value-change option,
.value-change optgroup {
    background-color: rgb(43, 43, 71);
    color: white;
}

@media (min-width: 768px) {
    .value-change {
        max-width: 150px;
        font-size: 15 px;
    }
}


.switch-option {
    background-image: url('../assets/images/icon-units.svg');
    background-position: left center;
    padding-left: 20px;
    background-size: 50px;
}

.main-heading {
    font-family: var(--primary-font);
    color: rgb(254, 254, 254);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding: 20px 20px;
}

.location-form {
    width: 100%;
}

@media (min-width: 768px) {
    .location-form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

.search-input {
    background-color: var(--primary-color);
    border-style: none;
    border-radius: 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-image: url('../assets/images/icon-search.svg');
    background-size: 13px;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 20px center;
    padding-left: 40px;
}

.search-input::placeholder {
    color: rgb(255, 255, 255, 0.8);
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 500;
    padding: 0 30px;
}

.search-input-button {
    background-color: var(--secondary-color);
    color: white;
    border-style: none;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    font-weight: 500;
    width: 100%;
}

@media (min-width: 768px) {
    .search-input {
        width: 40%;
    }

    .search-input-button {
        width: auto;
        padding: 10px 20px;
        margin-bottom: 12px;
    }
}

.today-forecast {
    background-image: url('../assets/images/bg-today-small.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-family: var(--secondary-font);
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.today-location {
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.today-dateandtime {
    font-size: 14px;
    font-weight: 100;
    text-align: center;
}

.today-temperature {
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

.today-forecast img {
    width: 50%;
}

.leave-x-gap {
    margin-right: 5px;
}

@media (min-width: 768px) {
    .today-forecast {
        background-image: url('../assets/images/bg-today-small.svg');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        color: white;
        font-family: var(--secondary-font);
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 50px 0px 0px;
    }

    .today-location {
        font-weight: 700;
        font-size: 30px;
        text-align: start;
        display:flex;
        justify-content: start;
    }

    .today-dateandtime {
        font-size: 12px;
        font-weight: 100;
        text-align: start;
    }

    .today-temperature {
        font-size: 40px;
        font-weight: 700;
        font-style: italic;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .today-forecast img {
        width: 30%;
    }
}

.weather-boxes {
    background-color: var(--primary-color);
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 13px;
    font-weight: 200;
    margin-bottom:10px;
}

.minor-value {
    font-size: 25px;
    font-weight: 100;
    color: rgb(255, 255, 255, 0.8);
    display:flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .weather-boxes {

    }

    .weather-boxes div {
        font-size: 25px;
    }
}

.daily-forecast {
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-family: var(--secondary-font);
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.daily-forecast h3 {
    font-family: var(--primary-font);
    color: rgb(254, 254, 254);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 20px;
}

.daily-forcast-day {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: var(--secondary-font);
    font-weight: 500;
    text-align: center;
    width: calc(33.3333% - 10px) !important;
    height: 130px;
}

@media (min-width: 768px) {
    .daily-forcast-day {
        width: calc(14.2857% - 10px) !important;
    }
}

.daily-weather-icon {
    width: 50px;
    height: 50px;
}

.hourly-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.hourly-select {
    background-color: var(--primary-color);
    border-radius: 5px;
    border-style: none;
    color: rgb(255, 255, 255);
    padding: 3px;
    font-size: 12px;
    font-family: var(--secondary-font);
    font-weight: 500;
}

.hourly-select option {
    background-color: rgb(43, 43, 71);
    color: white;
}

.hourly-set {
    margin: 5px 2px;
    padding: 5px 10px 5px 10px;
    width: 100%;
    background-color: rgba(255, 254, 254, 0.05);
    color: white;
    border-radius: 10px;
    border-color: rgb(81, 81, 81);
    border-width: 0.02px;
    border-style: solid;
    display: flex;
    justify-content: space-between;
}

.hourly-icon {
    width: 40px;
}

.hourly-forecast {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
}

.hourly-forcast-container {
    height: 500px;
    overflow-y: scroll;
}

.hourly-forecast h3 {
    font-family: var(--primary-font);
    color: rgb(254, 254, 254);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}